{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "useBuiltIns": "usage",
        "corejs": 3,
        "exclude": ["@babel/plugin-transform-regenerator"]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": false
      }
    ],
    "@babel/plugin-proposal-class-properties",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "pure": true
      }
    ],
    "react-hot-loader/babel"
  ],
  "sourceMaps": "inline",
  "env": {
    "production": {
      "plugins": [
        [
          "transform-react-remove-prop-types",
          {
            "removeImport": true
          }
        ],
        [
          "styled-components",
          {
            "displayName": false
          }
        ]
      ]
    }
  }
}
